.header {
    background-color:#0F0F0F;
    padding-top: 30px;
    padding-bottom: 20px;
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.header__logo {

}
.menu {
    display: flex;
}
.menu a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 50px;
}

.menu li:hover {
   background-color:yellow;
   padding: 20px 20px;
}
.menu a:hover {
    color: black;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
}