.header {
    background-color:#0F0F0F;
    padding-top: 30px;
    padding-bottom: 20px;
}
.header__row {
    display: flex;
    justify-content: space-between;
}
.header__logo {

}
.menu {
    display: flex;
}
.menu a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.menu li {
    margin-left: 40px;
}
.icon {
    margin-left: 20px;
}

.menu li:hover {
   background-color:yellow;
   transform: scale(1.3);
   padding: 0;
   transform: 1 linear;
 
}
.menu a:hover {
    color: black;
    text-align: center;
}